@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {		
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
	overflow: hidden;
	position: relative;
}
.h-screen-min {
	height: 100svh;
}
.page-enter-active,
.page-leave-active {
	transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
	opacity: 0;
	filter: blur(1rem);
}
h1, h2, h3, label {
	@apply uppercase;
}
.button {
	@apply py-4 text-center w-full uppercase bg-no-repeat;
}

input[type="text"] {
	@apply p-2 bg-black bg-opacity-60 border border-slate-500 rounded-lg font-sans;	
}

.m-slider {
	padding: 0 !important;
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}

	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-6px);
	}

	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}
.planet {
	transform: translatey(0px);
	animation: float 10s ease-in-out infinite;
}