@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {		
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1, h2, h3, label {
	@apply uppercase;
}
.button {
	@apply py-4 text-center w-full uppercase bg-no-repeat;
}

input[type="text"] {
	@apply p-2 bg-black bg-opacity-60 border border-slate-500 rounded-lg font-sans;	
}

.m-slider {
	padding: 0 !important;
}